<div class="header">
        <div class='title-box'>
               <h1>BROCK PETTYJOHN</h1> 
               <p>Photo Diary</p>
               <div class="icons">
                 <a href="https://www.flickr.com/photos/47186149@N02"><img src="https://maxcdn.icons8.com/Android_L/PNG/512/Logos/flickr-512.png" width="25px" height="auto"></a>
                 <a href="https://www.instagram.com/brockpettyjohn/?hl=en"><img src="https://maxcdn.icons8.com/Share/icon/win8/Logos//instagram_new1600.png" width="25px" height="auto"></a>
                </div>        
        </div>
</div>
<h2>COUNTRIES</h2>
<div class="countries-container" ng-repeat='c in countries'>
        <ul ui-sref='trips({country:c.country})'>
                <li>{{c.country}}</li>
        </ul>
</div>