<div class='trips-info-box'>
    <div class='info-box'>
        <h1>{{currentCountry.country}}</h1>
        <p>{{currentCountry.month}}</p>
        <p>{{currentCountry.year}}</p>
        <p>{{currentCountry.duration}}</p>
        
    </div>
    <div class="photo-box">
        <div ng-repeat="c in currentCountry.photos">
            <img ng-click="selectPic(c)" src="{{c}}">
        </div>
    </div>
    <div ng-if="selectedPic" ng-click="closeModal()" class= "pictureModal">
        <img class="selected" src="{{selectedPic}}">
    </div>
   

</div>