<div class='trips-info-box'>
    <div class='info-box'>
        <h1>{{currentCountry.country}}</h1>
        <li>{{currentCountry.month}}</li>
        <li>{{currentCountry.year}}</li>
        <li>{{currentCountry.duration}}</li>
    </div>
    <div class="photo-box">
        <img src="{{currentCountry.photos}}" width="500px" height="375">
        <img src="{{currentCountry.photos2}}" width="500px" height="375">
        <img src="{{currentCountry.photos3}}" width="500px" height="375">
    </div>
    <div class="photo-box">
        <img src="{{currentCountry.photos4}}" width="500px" height="375px">
        <img src="{{currentCountry.photos5}}" width="500px" height="375px">
        <img src="{{currentCountry.photos6}}" width="500px" height="375px">
    </div>
    <div class="photo-box">
        <img src="{{currentCountry.photos7}}" width="500px" height="375px">
        <img src="{{currentCountry.photos8}}" width="500px" height="375px">
        <img src="{{currentCountry.photos9}}" width="500px" height="375px">
    </div>

</div>